{% extends 'base.html' %}
{% load static %}
{% block title %}{{ name }}{% endblock title %}
{% block content %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{ name }}</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
            {% for i in product %}
          <div class="col-md-6">
            <img src="{{ i.0.url }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h2 class="text-black">{{ i.1 }}</h2>
            <p>{{ i.2 }}</p>
            <p><strong class="text-primary h4">{{ i.3|safe }}</strong></p>
              <form method="post" action="{% url 'add_to_cart' i.4 %}">{% csrf_token %}
            <div class="mb-5">
              <div class="input-group mb-3" style="max-width: 120px;">
              <div class="input-group-prepend">
                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
              </div>
              <input type="text" name="count" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <div class="input-group-append">
                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
              </div>
            </div>

            </div>
                  {% ifequal count 0 %}
                <h3 class="text-danger">This product is not available in stock.</h3>
                  {% else %}
                <p><input type="submit" class="buy-now btn btn-sm btn-primary" value="Add To Cart"></p>
                  {% endifequal %}
            </form>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Featured Products</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
                {% for i in last_product %}
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="{{ i.0.url }}" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="{% url 'product' i.1 %}">{{ i.1 }}</a></h3>
                    <p class="mb-0">{{ i.2 }}</p>
                    <p class="text-primary font-weight-bold">{{ i.3|safe }}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
